<!DOCTYPE html>
<html xml:lang="zh-CN" lang="zh-CN" style="transform: none;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <title>{$article.title}</title>
    <meta name="keywords" content="{$article.keywords}">
    <meta name="description" content="{$article.description}">
    <meta property="og:type" content="detail">
    <meta property="og:title" content="{$article.title}">
    <meta property="og:category" content="{$article.title}">
    <meta property="og:description" content="{$article.description}">
    <meta property="og:image" content="{$Think.config.web.web_logo}">
    {include file="layout/file_css"}
    {include file="layout/file_js"}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="home home-article catop" style="transform: none;">
<div id="app">
    <nav-menu></nav-menu>
    <main id="article-main" class="site-main article-main container clearfix" style="transform: none;">

        <Breadcrumb></Breadcrumb>

        <div class="row clearfix" style="transform: none;">

            <main-fl token="{:token()}" captcha="{:captcha_src()}"></main-fl>

            <main-fr></main-fr>

        </div>

    </main>

    <footers></footers>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        components: {
            'navMenu': httpVueLoader('/components/head.vue'),
            'Breadcrumb': httpVueLoader('/components/bread-detail.vue'),
            'main-fl': httpVueLoader('/components/detail-left.vue'),
            'main-fr': httpVueLoader('/components/main-right.vue'),
            'bottom': httpVueLoader('/components/bottom.vue'),
            'footers': httpVueLoader('/components/footer.vue'),
        },
        data(){
            return{
                banner:[],
            }
        },
        methods:{
            async dataBanner(){
                axios.get('/api/banner').then(res=>{
                    this.banner = res.data.data;
                });
            },
        },
        mounted() {
            this.dataBanner();
        }
    });
</script>
</html>