<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.web.web_title}</title>
    {include file="public/file_css"}
    {include file="public/file_js"}
    <style>
        .el-card__body{
            padding:10px;
            font-size:15px;
            cursor:pointer;
        }
        .el-card{
            margin-bottom:6px;
            border: unset;
        }
        .el-row{
            margin:10px 0;
        }
        .el-divider__text{
            font-size: 16px;
            font-weight: 600;
        }
    </style>
</head>
<body>
<div id="app">

    <!--导航-->
    <nav-menu></nav-menu>

    <el-divider content-position="left">少年包青天</el-divider>
    <el-row :gutter="12">
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示6666666666
            </el-card>
        </el-col>
    </el-row>
    <el-divider></el-divider>

    <el-divider content-position="left">少年包青天</el-divider>
    <el-row :gutter="12">
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示
            </el-card>
        </el-col>
        <el-col :span="88">
            <el-card shadow="hover">
                鼠标悬浮时显示6666666666
            </el-card>
        </el-col>
    </el-row>
    <el-divider></el-divider>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        components: {
            'navMenu': httpVueLoader('/components/head.vue'),
            'footers': httpVueLoader('/components/footer.vue'),
        },
    })

</script>
</html>