<script src="/hyy1.0.0/frontend/xy-js/jquery-2.2.4.min.js"></script>
<script src="/hyy1.0.0/frontend/xy-js/zblogphp.js"></script>
<script src="/hyy1.0.0/frontend/xy-js/c_html_js_add.js"></script>
<script src="/hyy1.0.0/frontend/xy-js/jquery.lazy.js"></script>

<!--页面加载进度-->
<script src="/hyy1.0.0/frontend/js/pace.min.js"></script>
<!-- import Vue before Element -->
<script src="/hyy1.0.0/frontend/js/vue.min.js"></script>
<!--引入 axios 网络请求组件-->
<script src="/hyy1.0.0/frontend/js/axios.min.js"></script>
<!-- import JavaScript -->
<script src="/hyy1.0.0/frontend/js/element.js"></script>
<!-- 引入 http-vue-loader 引用独立组件模块-->
<script src="/hyy1.0.0/frontend/js/httpVueLoader.js"></script>