<header class="header">
    <div class="top-subnav fixed-nav">
        <div class="subnav container clearfix">
            <div class="logo shan">
                <a href="/" title="{$Think.config.web.web_title}" rel="home bookmark">
                    <img src="/{$Think.config.web.web_logo}" alt="{$Think.config.web.web_title}" />
                </a>
            </div>
            <div class="header-nav nav-list clearfix" data-type="index" data-infoid="index">
                <aside class="mobile_aside mobile_nav">
                    <div class="m-slideout">
                        <div class="m-slideout-author">
                            <img width="50" height="50" class="s-about-image" src="images/default.jpg" alt="访客" />
                            <div class="m-slideout-info">
                                <a href="/" target="_blank" rel="noopener noreferrer nofollow">访客</a>
                                <p></p>
                            </div>
                        </div>
                        <ul class="m-slideout-count">
                            <li><span>累计博文 <strong>253</strong> 篇</span></li>
                            <li><span>累计评论 <strong>13816</strong> 条</span></li>
                        </ul>
                    </div>

                    <ul id="showNavs" class="sf-menu nav-pills">
                        <li id="nvabar-item-index" class="{$Request.get.id?'':'active'}">
                            <a href="/">
                                <i class="fa fa-home"></i>首页
                            </a>
                        </li>
                        {minicms:navmenu}
                        <li id="nvabar-item-index" class="{$Request.get.id==$vo.id?'active':''}">
                            <a href="{$vo.isUrl?$vo.outUrl:$vo.temp_list}?id={$vo.id}" target="{$vo.target}">
                                {if $vo.son}
                                <i class="fa fa-book"></i>
                                {else}
                                <i class="fa fa-cloud"></i>
                                {/if}
                                {$vo.name}
                            </a>
                            {if $vo.son}
                            <span class="toggle-btn">
                                    <i class="fa fa-angle-double-down"></i>
                                </span>
                            <ul class="dropdown-menu sub-menu">
                                {foreach $vo.son as $skey=>$item}
                                <li id="navbar-page-68" class="{$Request.get.id==$item.id?'active':''}">
                                    <a href="{$item.isUrl?$item.outUrl:$item.temp_list}?id={$item.id}" target="{$item.target}">
                                        {$item.name}
                                    </a>
                                </li>
                                {/foreach}
                            </ul>
                            {/if}
                        </li>
                        {/minicms:navmenu}
                    </ul>
                </aside>
            </div>
            <div class="top-login">
                <div class="search_top">
                    <div class="search-icon"></div>
                    <div class="search-box">
                        <img alt="关闭" src="/template/conme/static/images/close_open.svg" class="close-icon" />
                        <form method="get" name="search" action="/index/search" class="searchform">
                            <input type="text" value="{$Request.param.q?$Request.param.q:''}" name="q" placeholder="输入关键字..." class="text" />
                            <input type="submit" class="btn" value="搜索" />
                        </form>
                    </div>
                </div>
                <a title="夜间模式" class="at-night top-night" href="javascript:switchNightMode()" target="_self"></a>
                <a title="繁简转换" class="top-tnrt" href="javascript:translatePage();" id="zh_tw">繁</a>
                <div class="m-top-logo">
                    <i class="nav-bar"><span></span><span></span><span></span></i>
                </div>
            </div>
        </div>
        <!--header_end-->
        <div id="mask"></div>
    </div>
</header>